@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  background-color: black;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.logo img {
  width: 100%;
}

.logo span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: #ffffff;
  padding-left: -20px;
}

.navbar {
  display: flex;
  gap: 90px;
  padding-right: 100px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  font-family:"Poppins", sans-serif;
}

.navbar a:hover {
  font-weight: bold;
}

.hero {
  position: relative;
  text-align: center;
  margin-top: 200px;
}

.hero-image {
  width: 82%;
  height: auto;
  border-radius: 10px;
}

.hero-text {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 165px;
}

.rules {
  padding: 20px;
  margin: 20px auto;
  margin-left: 153px;;
  margin-right: 142px;
}

.rule {
  margin-bottom: 40px;
}

.rule h2 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.rule p {
  font-size: 1em;
  color: #555;
}

footer {
  flex-shrink: 0;
  margin-top: auto;
  text-align: center;
  padding: 40px;
  background: #000;
  color: #fff;
}

@media (max-width: 768px) {
  .hero-text {
      font-size: 1.2em;
  }

  .rules {
      padding: 10px;
  }

  .rule h2 {
      font-size: 1.1em;
  }

  .rule p {
      font-size: 0.95em;
  }
}

@media (max-width: 480px) {
  header nav {
      display: flex;
      flex-direction: column;
      text-align: center;
  }

  .hero-text {
      font-size: 1em;
  }

  .rules {
      padding: 10px;
  }

  .rule h2 {
      font-size: 1em;
  }

  .rule p {
      font-size: 0.9em;
  }
}
